/* You're welcome to change any of this! */
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
* {
    box-sizing: border-box;
}

body {
    background-color: #00FFFF;
    margin: 0px;
    font-family: Audiowide, cursive;
}

p, a, li {
    line-height: 1.5em;
    font-size: 1.1em;
}