.sgr-main {
    transform: scale(0.895);
    transform-origin: 0 0;
    clear: both;
    padding: 10px 0 5px 0;
}

p.sgr-infotext {
    padding-bottom: 15px;
    font-size: 85%;
}

.grecaptcha-badge {
    visibility: visible;
}
