body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: pink;
    display: grid;
}

.grid-container {
    height: 100vh;
    /* you will add addition rules for the container here  */
    display: grid;
    grid-template-rows: 1 / 5;
    grid-template-columns: 1 / 5;
}

/* create your child rules here:  */
