@import url('https://fonts.googleapis.com/css2?family=Darumadrop+One&display=swap');
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgray;
    font-family: 'Darumadrop One', cursive;
}
main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 25px;
    row-gap: 20px;
   justify-content: center;
  
}
section {
   display: grid;
   grid-template-columns: auto 150px;
   border: solid 2px goldenrod;

}
img {
    width: 75%;
}
nav {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    background-color: blue;
    
}
a {
color: orange;
text-decoration: none;
}
#duck {
    display: block;
    width:25%;
   margin-left: auto;
   margin-right: auto;

}
h1 {
    display: flex;
    justify-content: center;
}
p {
    display: flex;
    justify-content: center;
}
footer {
    display: flex;
    justify-content: center;
}
#contact {
    display: grid;
    grid-template-columns: 1fr;
}