html {
    scroll-behavior: smooth;
}

body * {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

/* create additional rules below:  */
section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#home {
   
    background-color: blueviolet;
    
}
#bio {
    
    background-color: cyan;
   
}
#portfolio {
   
    background-color: green;
    
}
#contact {
   
    background-color: lime;
  
}